---
- name: "Move backend files to server."
  copy:
    src: /root/project/backend
    dest: /home/ubuntu

- name: "install package dependencies"
  shell: |
    cd /home/ubuntu/backend
    npm i
- name: "build package"
  shell: |
    cd /home/ubuntu/backend
    npm run build
- name: "run migrations again"
  shell: |
    cd /home/ubuntu/backend
    npm run migrations
- name: Executing node
  become: true
  shell: |
    cd /home/ubuntu/backend
    pm2 start npm --name backend -- start
    pm2 ls
